# Python cache
__pycache__/
*.pyc

# Environments
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Data & Large Files
dataset/
*.tsv
*.zip

results/

runs/

# Generated Output
output/

# OS
.DS_Store

fast_hybrid_er/*
